.KeypadControls {
    display: flex;
    justify-content: space-between;
}

.KeyboadInputArea {
    display: flex;
    justify-content: space-between;
}
.enter {
    flex-grow: 1;
}
.FilterValue {
    width: 5em;
    align-self: center;
    padding-left: 5px;
}
