.KeypadControls {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.KeyboadInputArea {
    display: flex;
    justify-content: space-between;
}

.FilterValue {
    align-self: center;
    justify-content: center;
    min-width: 6em;
    display: flex;
    height: 100%;
}

.FilterValue.prompt {
    color: gray;
}
