.KeypadControls {
    display: flex;
    justify-content: space-between;
}

.Commonness {
    margin-left: 15px;
    margin-right: 40px;
}

.KeyboadInputArea {
    display: flex;
    justify-content: space-between;
}

.FilterValue {
    align-self: center;
    justify-content: center;
    min-width: 6em;
    display: flex;
    height: 100%;
}
