.ObservationEntryPad {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ObservationEntryPad >  * {
    flex-shrink: 0;
}

/*
.ObservationEntryPad > .ObservationListArea {
    height: 100%;
    flex-shrink: unset;
    flex-grow: 1;
}
*/
.ObservationListArea {
    flex-shrink: unset;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden
}