.SpeciesPicker {
    overflow-y: scroll;
    flex-grow: 1;
}

.SpeciesPicker li.active {
    color: black;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
    border-radius: 2px;
    box-sizing: border-box;
}