
.AppTabs {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 125%;
}

.AppHeader {
  flex-shrink: 0;
}

.AppContent {
  flex-grow: 1;
  overflow-y: scroll;
}

.AppContent > .tab-pane {
  height: 100%;
}

.oneColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.oneColumn >  * {
  flex-shrink: 0;
}

.oneColumn > .oneColumnExpand {
  flex-shrink: unset;
  flex-grow: 1;
  display: flex;
  overflow-y: hidden
}