:root {
    --doc-height: 100%;
    margin: 0;
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    height: var(--doc-height);
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
        env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
    overscroll-behavior: none;
    box-sizing: border-box;
    overflow: hidden;
}
