.Keypad {
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.KeypadControls {
    display: flex;
    justify-content: space-between;
}

.KeyboadInputArea {
    display: flex;
}

.KeyboadInputArea > input {
    align-self: flex-end;
}