.Observation.edit {
    min-height: 1em;
    margin-bottom: 1em;
    width: 100%;
    border-top: 2px solid black;
    padding-top: 5px;
}

.Observation .Button {
    padding: 5px;
}

.Observation .Button.PrimaryButton {
    border: 1px solid;
}

.Observation.activeEdit .Button.PrimaryButton {
    color: green;
    border: 2px solid;
}

.ObservationCount {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.ObservationHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.ObservationEditIcons {
    display: flex;
    justify-content: space-between;
}

.CountEntry {
    display: flex;
}
