.Observation.create {
    min-height: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.ObservationCount {
    display: flex;
    align-items: center;
    margin-right: .5em;
}

.ObservationHeader {
    display: flex;
    justify-content: center;
}

.ObservationHeader.create {
    margin-bottom: 1em;
}

.ObservationEditIcons {
    display: flex;
    justify-content: space-between;
}

.CountEntry {
    display: flex;
}
